Repository ProgramadoresSemPatria/ShiftEase: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prettier --write

.lintstagedrc.json:

{
  "apps/ui/**/*.{js,jsx,ts,tsx}": [
    "biome check --apply",
    "biome format --write"
  ],
  "apps/api/**/*.{js,ts}": ["prettier --write"],
  "**/*.{json,md}": ["prettier --write"]
}

chore: change schedule shift name column
  apps/api/prisma/schema.prisma
Due: none

chore: migration of db changed
  apps/api/prisma/migrations/20250328213442_change_schedule_shift_name_column/migration.sql
Due: none

refactor: alter seed to new column name
  apps/api/prisma/seeds/seed.ts
Due: prettier --write

feat: basic methods on schedules repository
  apps/api/src/shared/database/repositories/schedules.repositories.ts
Due: prettier --write

refactor: change property name on user schedule method
  apps/api/src/modules/users/users.service.ts
Due: prettier --write

refactor: chande id type
  apps/api/src/modules/schedules/schedules.service.ts
Due: prettier --write

fix: solve api interceptor issues
  apps/ui/package.json
  apps/ui/src/components/LoginForm.tsx
  apps/ui/src/contexts/auth/AuthContext.tsx
  apps/ui/src/contexts/auth/AuthProvider.tsx
  apps/ui/src/hooks/useApi.ts
  apps/ui/yarn.lock
  package-lock.json
  yarn.lock
Due: biome check --apply, biome format --write, prettier --write

feat: add private route handling
  apps/ui/biome.json
  apps/ui/src/App.tsx
  apps/ui/src/Router.tsx
  apps/ui/src/layouts/PrivateLayout.tsx
  apps/ui/src/main.tsx
  apps/ui/src/pages/Dashboard.tsx
Due: biome check --apply, biome format --write, prettier --write

feat: shift repository
  apps/api/src/shared/database/repositories/shifts.repositories.ts
Due: prettier --write

feat: shift repository on db module
  apps/api/src/shared/database/database.module.ts
Due: prettier --write

feat: shift type
  apps/api/src/modules/shifts/entities/ShiftType.ts
Due: prettier --write

feat: create shift dto
  apps/api/src/modules/shifts/dto/create-shift.dto.ts
Due: prettier --write

feat: update shift dto
  apps/api/src/modules/shifts/dto/update-shift.dto.ts
Due: prettier --write

feat: shift service
  apps/api/src/modules/shifts/shifts.service.ts
Due: prettier --write

feat: shift controller
  apps/api/src/modules/shifts/shifts.controller.ts
Due: prettier --write

feat: shift module
  apps/api/src/modules/shifts/shifts.module.ts
Due: prettier --write

feat: import shift on app module
  apps/api/src/app.module.ts
Due: prettier --write

refactor: separate find unique department of deparment service
  apps/api/src/modules/departments/services/departments.service.ts
Due: prettier --write

refactor: create a service of find unique department
  apps/api/src/modules/departments/services/findUniqueDepartmet.service.ts
Due: prettier --write

feat: export find unique department service
  apps/api/src/modules/departments/departments.module.ts
Due: prettier --write

refactor: fix import
  apps/api/src/modules/departments/departments.controller.ts
Due: prettier --write

refactor: import correctly find unique department
  apps/api/src/modules/auth/auth.service.ts
Due: prettier --write

refactor: change id to code department on dto
  apps/api/src/modules/shifts/dto/create-shift.dto.ts
Due: prettier --write

feat: import department module
  apps/api/src/modules/shifts/shifts.module.ts
Due: prettier --write

feat: create shift method
  apps/api/src/modules/shifts/shifts.service.ts
Due: prettier --write

refactor: change necessary role controller
  apps/api/src/modules/shifts/shifts.controller.ts
Due: prettier --write

refactor: remake the auth redirector
  apps/ui/src/Router.tsx
  apps/ui/src/contexts/auth/AuthGuard.tsx
  apps/ui/src/contexts/auth/AuthProvider.tsx
  apps/ui/src/contexts/auth/RequireAuth.tsx
  apps/ui/src/hooks/useApi.ts
  apps/ui/src/layouts/PrivateLayout.tsx
  apps/ui/src/pages/Dashboard.tsx
Due: biome check --apply, biome format --write

feat: shift change service folder
  apps/api/src/modules/shifts/services/shifts.service.ts
Due: prettier --write

feat: find shift service
  apps/api/src/modules/shifts/services/findShift.service.ts
Due: prettier --write

feat: shift module services
  apps/api/src/modules/shifts/shifts.module.ts
Due: prettier --write

feat: remove shift method
  apps/api/src/modules/shifts/services/shifts.service.ts
Due: prettier --write

refactor: remove return of object on delete
  apps/api/src/modules/shifts/services/shifts.service.ts
Due: prettier --write

feat: pass 204 http code on delete endpoint
  apps/api/src/modules/shifts/shifts.controller.ts
Due: prettier --write

refactor: separate concerns of api handling
  apps/ui/src/hooks/useApi.ts
  apps/ui/src/hooks/useApiPublic.ts
  apps/ui/src/hooks/useApiUser.ts
  apps/ui/src/services/api.ts
Due: biome check --apply, biome format --write

feat: add api department handler
  apps/ui/src/hooks/useApiDepartment.ts
Due: biome check --apply, biome format --write

feat: add register page
  apps/ui/src/Router.tsx
  apps/ui/src/components/RegisterForm.tsx
  apps/ui/src/contexts/auth/AuthContext.tsx
  apps/ui/src/contexts/auth/AuthProvider.tsx
  apps/ui/src/pages/RegisterPage.tsx
Due: biome check --apply, biome format --write

style: disable field when login loading
  apps/ui/src/components/LoginForm.tsx
Due: biome check --apply, biome format --write

refactor: change dto property
  apps/api/src/modules/schedules/dto/create-schedule.dto.ts
Due: prettier --write

feat: create schedule method
  apps/api/src/modules/schedules/schedules.service.ts
Due: prettier --write
