Repository ProgramadoresSemPatria/ShiftEase: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prettier --write

.lintstagedrc.json:

{
  "apps/ui/**/*.{js,jsx,ts,tsx}": [
    "biome check --apply",
    "biome format --write"
  ],
  "apps/api/**/*.{js,ts}": ["prettier --write"],
  "**/*.{json,md}": ["prettier --write"]
}

feat: run migrations
  apps/api/prisma/migrations/20250326030804_database_modeling/migration.sql
Due: none

feat: add onDelete cascade to some tables
  apps/api/prisma/schema.prisma
Due: none

feat: created onDelete migrations
  apps/api/prisma/migrations/20250326155905_add_on_delete_cascade_to_user_relations/migration.sql
  apps/api/prisma/migrations/20250326160658_add_on_delete_cascade_to_user_schedule/migration.sql
Due: none

refactor: turn name on roles to a unique field
  apps/api/prisma/migrations/20250326160129_change_name_role_to_unique_field/migration.sql
Due: none

chore: remove unused scripts and add db related scripts
  apps/api/package.json
Due: prettier --write

feat: create seed to populate the database
  apps/api/prisma/seeds/seed.ts
Due: prettier --write

style: fix notification icon sizing
  apps/ui/src/components/icons/NotificationIcon.tsx
Due: biome check --apply, biome format --write

feat: hash the password of created users
  apps/api/prisma/seeds/seed.ts
Due: prettier --write

feat: receive department id on signup
  apps/api/src/modules/auth/dto/signup.dto.ts
Due: prettier --write

style: remove comments
  apps/api/src/modules/auth/dto/signin.dto.ts
Due: prettier --write

fix: pass role and department on create user
  apps/api/src/modules/auth/auth.service.ts
Due: prettier --write

feat: add testimonial section
  apps/ui/package.json
  apps/ui/src/components/TestimonialCard.tsx
  apps/ui/src/components/TestimonialSection.tsx
  apps/ui/src/components/icons/QuoteIcon.tsx
  yarn.lock
Due: biome check --apply, biome format --write, prettier --write

style: tweak alignment feature section
  apps/ui/src/components/FeatureCard.tsx
  apps/ui/src/components/FeatureSection.tsx
Due: biome check --apply, biome format --write

chore: translate to english enum properties, change to enum user role and delete role table
  apps/api/prisma/schema.prisma
Due: none

chore: delete old migrations and add a new one
  apps/api/prisma/migrations/20250325194008_create_user_table/migration.sql
  apps/api/prisma/migrations/20250326155905_add_on_delete_cascade_to_user_relations/migration.sql
  apps/api/prisma/migrations/20250326160129_change_name_role_to_unique_field/migration.sql
  apps/api/prisma/migrations/20250326160658_add_on_delete_cascade_to_user_schedule/migration.sql
  apps/api/prisma/migrations/20250326214340_create_database/migration.sql
Due: none

refactor: apply to seed file changes on db
  apps/api/prisma/seeds/seed.ts
Due: prettier --write

refactor: remove role id on create user service
  apps/api/src/modules/auth/auth.service.ts
Due: prettier --write

style: add animations
  apps/ui/src/components/FeatureSection.tsx
  apps/ui/src/components/HeroSection.tsx
  apps/ui/src/components/TestimonialSection.tsx
Due: biome check --apply, biome format --write

feat: add ReadyToStartSection
  apps/ui/src/components/ReadyToStartSection.tsx
Due: biome check --apply, biome format --write

feat: add footer to landing page
  apps/ui/src/components/Footer.tsx
Due: biome check --apply, biome format --write

feat: add landing page
  apps/ui/src/Router.tsx
  apps/ui/src/pages/LandingPage.tsx
Due: biome check --apply, biome format --write

feat: role enum
  apps/api/src/modules/users/entities/Role.ts
Due: prettier --write

feat: update method on users repository
  apps/api/src/shared/database/repositories/users.repositories.ts
Due: prettier --write

feat: update user role dto
  apps/api/src/modules/users/dto/update-user-role.dto.ts
Due: prettier --write

feat: update user role service
  apps/api/src/modules/users/users.service.ts
Due: prettier --write

feat: update user role controller
  apps/api/src/modules/users/users.controller.ts
Due: prettier --write

chore: change folder
  apps/api/src/modules/users/roles/entities/Role.ts
Due: prettier --write

style: change file name
  apps/api/src/shared/decorators/is-public.decorator.ts
Due: prettier --write

feat: role decorator
  apps/api/src/shared/decorators/roles.decorator.ts
Due: prettier --write

style: change imports
  apps/api/src/modules/auth/auth.controller.ts
  apps/api/src/modules/auth/auth.guard.ts
  apps/api/src/modules/auth/auth.service.ts
Due: prettier --write

style: change imports
  apps/api/src/modules/users/dto/update-user-role.dto.ts
  apps/api/src/modules/users/users.controller.ts
  apps/api/src/modules/users/users.service.ts
Due: prettier --write

feat: role guard
  apps/api/src/modules/users/roles/roles.guard.ts
Due: prettier --write

feat: change user id property
  apps/api/src/shared/decorators/ActiveUserId.ts
Due: prettier --write

feat: add role guard to app providers
  apps/api/src/app.module.ts
Due: prettier --write

style: change name
  apps/api/src/modules/users/roles/role.guard.ts
Due: prettier --write

style: change import
  apps/api/src/app.module.ts
Due: prettier --write

refactor: translate fields on db
  apps/api/prisma/schema.prisma
Due: none

chore: migrations of schema changes
  apps/api/prisma/migrations/20250327225734_translate_names/migration.sql
Due: none

refactor: change seed to new schema
  apps/api/prisma/seeds/seed.ts
Due: prettier --write

chore: add nestjs mapped types
  apps/api/package.json
  yarn.lock
Due: prettier --write
