Repository ProgramadoresSemPatria/ShiftEase: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prettier --write "src/**/*.ts" "test/**/*.ts", prettier --write

feat: husky pre commit task
  .husky/pre-commit
Due: none

feat: commitlint configuration file
  .commitlintrc
Due: none

feat: husky commit message task
  .husky/commit-msg
Due: none

fix: remove path on api linter task
  .lintstagedrc.json
Due: prettier --write

feat: add header component
  frontend/public/logo.svg
  frontend/src/Router.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/MenuButton.tsx
  frontend/src/layouts/DefaultLayout.tsx
  frontend/src/style/index.css
  frontend/src/ui/style/index.css
Due: none

feat: create user model
  apps/api/prisma/schema.prisma
Due: none

feat: create user model migration
  apps/api/prisma/migrations/20250325194008_create_user_table/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
Due: none

feat: prisma service
  apps/api/src/shared/database/prisma.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: prisma module
  apps/api/src/shared/database/database.module.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: users repository
  apps/api/src/shared/database/repositories/users.repositories.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

chore: delete app shit files
  apps/api/src/app.controller.spec.ts
  apps/api/src/app.controller.ts
  apps/api/src/app.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

chore: delete test shit files
  apps/api/test/app.e2e-spec.ts
  apps/api/test/jest-e2e.json
Due: prettier --write "src/**/*.ts" "test/**/*.ts", prettier --write

feat: add needed dependencies
  apps/api/package.json
  yarn.lock
Due: prettier --write

feat: enable validation pipes application
  apps/api/src/main.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: create signin and signup dtos
  apps/api/src/modules/auth/dto/signin.dto.ts
  apps/api/src/modules/auth/dto/signup.dto.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: auth service with signin and signup methods
  apps/api/src/modules/auth/auth.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: auth guard to handle with public routes and inject userId on request
  apps/api/src/modules/auth/auth.guard.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: auth controller with signin and signup methods
  apps/api/src/modules/auth/auth.controller.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: auth module
  apps/api/src/modules/auth/auth.module.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: app module
  apps/api/src/app.module.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: public decorator
  apps/api/src/shared/decorators/IsPubilc.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: env errors
  apps/api/src/shared/config/env.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

chore: turbo repo setup frontend
  apps/ui/.gitignore
  apps/ui/biome.json
  apps/ui/components.json
  apps/ui/index.html
  apps/ui/package.json
  apps/ui/public/logo.svg
  apps/ui/src/App.tsx
  apps/ui/src/Router.tsx
  apps/ui/src/components/Header.tsx
  apps/ui/src/components/MenuButton.tsx
  apps/ui/src/layouts/DefaultLayout.tsx
  apps/ui/src/lib/utils.ts
  apps/ui/src/main.tsx
  apps/ui/src/style/index.css
  apps/ui/src/vite-env.d.ts
  apps/ui/tsconfig.app.json
  apps/ui/tsconfig.json
  apps/ui/tsconfig.node.json
  apps/ui/vite.config.ts
  apps/ui/yarn.lock
Due: biome check --apply, biome format --write, prettier --write

chore: turbo repo setup
  frontend/.gitignore
  frontend/biome.json
  frontend/components.json
  frontend/index.html
  frontend/package.json
  frontend/public/logo.svg
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/MenuButton.tsx
  frontend/src/layouts/DefaultLayout.tsx
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/style/index.css
  frontend/src/vite-env.d.ts
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  frontend/yarn.lock
  yarn.lock
Due: prettier --write

chore: yarn lock
  yarn.lock
Due: none

fix: ui app not working on turbo dev
  turbo.json
Due: prettier --write

feat: dotenv dependencie
  apps/api/package.json
  yarn.lock
Due: prettier --write

feat: import dotenv on main
  apps/api/src/main.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

chore: create custom paths
  apps/api/tsconfig.json
Due: prettier --write

feat: active user id decorator
  apps/api/src/shared/decorators/ActiveUserId.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: import and export user repository
  apps/api/src/shared/database/database.module.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: user service with get user by id method
  apps/api/src/modules/users/users.service.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: user controller with get user by id method
  apps/api/src/modules/users/users.module.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: user module
  apps/api/src/modules/users/users.controller.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

feat: import users module
  apps/api/src/app.module.ts
Due: prettier --write "src/**/*.ts" "test/**/*.ts"

style: improve header styling
  apps/ui/package.json
  apps/ui/src/components/Header.tsx
  apps/ui/src/components/MenuButton.tsx
  apps/ui/src/layouts/DefaultLayout.tsx
  yarn.lock
Due: biome check --apply, biome format --write, prettier --write

feat: add hero section to landing page
  apps/ui/src/components/HeroSection.tsx
Due: biome check --apply, biome format --write

fix: solve styling errors
  apps/ui/src/components/Header.tsx
  apps/ui/src/components/MenuButton.tsx
  apps/ui/src/layouts/DefaultLayout.tsx
Due: biome check --apply, biome format --write

feat: add FeatureSection to landing page
  apps/ui/biome.json
  apps/ui/src/components/FeatureCard.tsx
  apps/ui/src/components/FeatureSection.tsx
  apps/ui/src/components/icons/CircleArrowsIcon.tsx
  apps/ui/src/components/icons/ClockIcon.tsx
  apps/ui/src/components/icons/ConfigurationIcon.tsx
  apps/ui/src/components/icons/NotificationIcon.tsx
Due: biome check --apply, biome format --write, prettier --write

feat: database modeling
  apps/api/prisma/schema.prisma
Due: none

Path conditions:
  biome check --apply: any of: apps/ui/**/*.{js,jsx,ts,tsx}
  biome format --write: any of: apps/ui/**/*.{js,jsx,ts,tsx}
  prettier --write "src/**/*.ts" "test/**/*.ts": any of: apps/api/**/*.{js,ts}
  prettier --write: any of: **/*.{json,md}
