Repository ProgramadoresSemPatria/ShiftEase: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prettier --write

.lintstagedrc.json:

{
  "apps/ui/**/*.{js,jsx,ts,tsx}": [
    "biome check --apply",
    "biome format --write"
  ],
  "apps/api/**/*.{js,ts}": ["prettier --write"],
  "**/*.{json,md}": ["prettier --write"]
}

feat: department service
  apps/api/src/modules/departments/departments.service.ts
Due: prettier --write

feat: department controller
  apps/api/src/modules/departments/departments.controller.ts
Due: prettier --write

feat: department module
  apps/api/src/modules/departments/departments.module.ts
Due: prettier --write

feat: create department dto
  apps/api/src/modules/departments/dto/create-department.dto.ts
Due: prettier --write

feat: update department dto
  apps/api/src/modules/departments/dto/update-department.dto.ts
Due: prettier --write

feat: department repository
  apps/api/src/shared/database/repositories/departments.repositories.ts
Due: prettier --write

refactor: change roles decorator name to be more declarative
  apps/api/src/shared/decorators/roles.decorator.ts
Due: prettier --write

refactor: change role decorator import
  apps/api/src/modules/users/users.controller.ts
Due: prettier --write

refactor: change departmet field on sign up dto
  apps/api/src/modules/auth/dto/signup.dto.ts
Due: prettier --write

feat: find department according of code
  apps/api/src/modules/auth/auth.service.ts
Due: prettier --write

feat: export department repository
  apps/api/src/shared/database/database.module.ts
Due: prettier --write

feat: import department on auth
  apps/api/src/modules/auth/auth.module.ts
Due: prettier --write

feat: import department module on app
  apps/api/src/app.module.ts
Due: prettier --write

feat: create schedule dto
  apps/api/src/modules/schedules/dto/create-schedule.dto.ts
Due: prettier --write

feat: update schedule dto
  apps/api/src/modules/schedules/dto/update-schedule.dto.ts
Due: prettier --write

feat: schedule repository
  apps/api/src/shared/database/repositories/schedules.repositories.ts
Due: prettier --write

feat: schedule repository onde db module
  apps/api/src/shared/database/database.module.ts
Due: prettier --write

feat: schedule service
  apps/api/src/modules/schedules/schedules.service.ts
Due: prettier --write

feat: schedule controller
  apps/api/src/modules/schedules/schedules.controller.ts
Due: prettier --write

feat: schedule module
  apps/api/src/modules/schedules/schedules.module.ts
Due: prettier --write

feat: import schedule module on app
  apps/api/src/app.module.ts
Due: prettier --write

feat: add user type
  apps/ui/src/types/user.ts
Due: biome check --apply, biome format --write

feat: add enums typing
  apps/ui/src/types/enums.ts
Due: biome check --apply, biome format --write

feat: add department types
  apps/ui/src/types/department.ts
Due: biome check --apply, biome format --write

feat: add schedule types
  apps/ui/src/types/schedule.ts
Due: biome check --apply, biome format --write

feat: add shift types
  apps/ui/src/types/shift.ts
Due: biome check --apply, biome format --write

feat: create find user schedule use case
  apps/api/src/modules/users/users.service.ts
Due: prettier --write

feat: create find user schedule end point
  apps/api/src/modules/users/users.controller.ts
Due: prettier --write

feat: add properties to create schedule dto
  apps/api/src/modules/schedules/dto/create-schedule.dto.ts
Due: prettier --write

feat: add necessary role to schedules routes
  apps/api/src/modules/schedules/schedules.controller.ts
Due: prettier --write

refactor: remove find all end point
  apps/api/src/modules/schedules/schedules.controller.ts
Due: prettier --write

feat: add parse uuid pipe to routes with id params
  apps/api/src/modules/schedules/schedules.controller.ts
Due: prettier --write

feat: add login api handling
  apps/ui/src/hooks/useApi.ts
Due: biome check --apply, biome format --write

feat: add AuthContext context creator
  apps/ui/src/contexts/auth/AuthContext.tsx
Due: biome check --apply, biome format --write

feat: add JWT interceptor to api handling
  apps/ui/src/hooks/useApi.ts
Due: biome check --apply, biome format --write

feat: add AuthProvider
  apps/ui/src/contexts/auth/AuthProvider.tsx
Due: biome check --apply, biome format --write

feat: add RequireAuth redirector
  apps/ui/src/contexts/auth/RequireAuth.tsx
Due: biome check --apply, biome format --write

feat: add login page
  apps/ui/.env.example
  apps/ui/package.json
  apps/ui/src/components/Loader.tsx
  apps/ui/src/components/LoginForm.tsx
  apps/ui/src/pages/LoginPage.tsx
  yarn.lock
Due: biome check --apply, biome format --write, prettier --write

refactor: make functions match camel case
  apps/ui/src/contexts/auth/AuthContext.tsx
  apps/ui/src/contexts/auth/AuthProvider.tsx
  apps/ui/src/hooks/useApi.ts
Due: biome check --apply, biome format --write

refactor: match camelcase in login form
  apps/ui/src/components/LoginForm.tsx
Due: biome check --apply, biome format --write
