Repository ProgramadoresSemPatria/ShiftEase: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prettier --write

Update README.md
  README.md
Due: prettier --write

feat: create findUserSchedules end point
  apps/ui/src/hooks/useApiUser.ts
Due: biome check --apply, biome format --write

refactor: change obligatory
  apps/ui/src/hooks/useApiSchedules.ts
Due: biome check --apply, biome format --write

feat: change to array of schedules
  apps/ui/src/types/user.ts
Due: biome check --apply, biome format --write

feat: add department_id to contextUser
  apps/ui/src/contexts/auth/AuthContext.tsx
Due: biome check --apply, biome format --write

feat: public folder
  public/index.ts
Due: none

Add files via upload
  public/ModelagemDB.png
Due: none

feat: remove console.log
  apps/ui/src/components/SwapRequestTab.tsx
Due: biome check --apply, biome format --write

feat: shift card
  apps/ui/src/components/ShiftCard.tsx
Due: biome check --apply, biome format --write

feat: request swap dialog
  apps/ui/src/components/RequestSwapDialog.tsx
Due: biome check --apply, biome format --write

feat: select exchange shift
  apps/ui/src/components/SelectExchangeShift.tsx
Due: biome check --apply, biome format --write

Rename ModelagemDB.png to database_model.png
  public/database_model.png
Due: none

feat: schedules tab
  apps/ui/src/components/ScheduleTab.tsx
Due: biome check --apply, biome format --write

feat: implement create swap on schedule tab
  apps/ui/src/components/ScheduleTab.tsx
Due: biome check --apply, biome format --write

feat: implement create swap on shift card
  apps/ui/src/components/ShiftCard.tsx
Due: biome check --apply, biome format --write

feat: implement create swap on request swap dialog
  apps/ui/src/components/RequestSwapDialog.tsx
Due: biome check --apply, biome format --write

feat: implement create swap on select exchange shift
  apps/ui/src/components/SelectExchangeShift.tsx
Due: biome check --apply, biome format --write

feat: desustructure create swap dto
  apps/ui/src/hooks/useShiftExchangeRequest.ts
Due: biome check --apply, biome format --write

fix: change obligatory of id
  apps/ui/src/components/ScheduleTab.tsx
Due: biome check --apply, biome format --write

feat: show success message and close modal on swap request created
  apps/ui/src/components/RequestSwapDialog.tsx
Due: biome check --apply, biome format --write

feat: change seed
  apps/api/prisma/seeds/seed.ts
Due: prettier --write

feat: signout button
  apps/ui/src/components/DashboardHeader.tsx
Due: biome check --apply, biome format --write

feat: add seed script on build
  apps/api/package.json
Due: prettier --write

fix: deploy build
  apps/ui/src/contexts/auth/AuthProvider.tsx
  apps/ui/src/contexts/schedules/SchedulesContext.tsx
  apps/ui/src/hooks/useApiUser.ts
Due: biome check --apply, biome format --write

fix: deploy build
  apps/api/package.json
  apps/api/src/app.module.ts
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  biome check --apply: any of: apps/ui/**/*.{js,jsx,ts,tsx}
  biome format --write: any of: apps/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: apps/api/**/*.{js,ts}) or (any of: **/*.{json,md})
