Repository ProgramadoresSemPatria/ShiftEase: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply, biome format --write, prettier --write

feat: add dashboard
  .lintstagedrc.json
  apps/ui/biome.json
  apps/ui/components.json
  apps/ui/src/components/ScheduleTab.tsx
  apps/ui/src/components/ShiftCard.tsx
  apps/ui/src/components/SwapRequestTab.tsx
  apps/ui/src/components/ui/table.tsx
  apps/ui/src/lib/utils.ts
  apps/ui/src/pages/Dashboard.tsx
  apps/ui/vite.config.ts
Due: biome check --apply, biome format --write, prettier --write

fix: add end date on resolved swap requests
  apps/api/src/modules/shift-exchange-request/shift-exchange-request.service.ts
Due: prettier --write

chore: add swagger dependencie on app
  apps/api/package.json
  yarn.lock
Due: prettier --write

feat: import document builder
  apps/api/src/main.ts
Due: prettier --write

feat: swagger options on nest cli
  apps/api/nest-cli.json
Due: prettier --write

feat: add bearer auth on document builder
  apps/api/src/main.ts
Due: prettier --write

feat: mark routes with bearer auth
  apps/api/src/modules/departments/departments.controller.ts
  apps/api/src/modules/schedules/schedules.controller.ts
  apps/api/src/modules/shift-exchange-request/shift-exchange-request.controller.ts
  apps/api/src/modules/shifts/shifts.controller.ts
  apps/api/src/modules/users/users.controller.ts
Due: prettier --write

fix: type of shifts on get schedules route
  apps/api/src/modules/schedules/schedules.service.ts
Due: prettier --write

feat: add apiquery to mapping query params to swagger
  apps/api/src/modules/schedules/schedules.controller.ts
Due: prettier --write

feat: schedule shift repository
  apps/api/src/shared/database/repositories/schedule-shift.repositories.ts
Due: prettier --write

feat: import new repo on db module
  apps/api/src/shared/database/database.module.ts
Due: prettier --write

feat: generate schedule shift resource
  apps/api/src/modules/schedule-shifts/schedule-shifts.controller.ts
  apps/api/src/modules/schedule-shifts/schedule-shifts.module.ts
  apps/api/src/modules/schedule-shifts/schedule-shifts.service.ts
Due: prettier --write

feat: import schedule shift module on swap request module
  apps/api/src/modules/shift-exchange-request/shift-exchange-request.module.ts
Due: prettier --write

feat: find schedue shift method
  apps/api/src/modules/schedule-shifts/schedule-shifts.service.ts
Due: prettier --write

feat: schedule shift swap method
  apps/api/src/modules/schedule-shifts/schedule-shifts.service.ts
Due: prettier --write

feat: find unique method on repo
  apps/api/src/shared/database/repositories/schedule-shift.repositories.ts
Due: prettier --write

fix: swap schedule
  apps/api/src/modules/schedule-shifts/schedule-shifts.service.ts
Due: prettier --write

feat: swap schedule shift on approve method
  apps/api/src/modules/shift-exchange-request/shift-exchange-request.service.ts
Due: prettier --write

feat: pass schedulesShift date on findAll method
  apps/api/src/modules/schedules/schedules.service.ts
Due: prettier --write

fix: include spread on property
  apps/api/src/modules/schedules/schedules.service.ts
Due: prettier --write

chore: add yarn prisma migrate dev to nest build script
  apps/api/package.json
Due: prettier --write

fix: considering undefined value
  apps/api/src/modules/schedules/schedules.service.ts
Due: prettier --write

feat: approve directly on accept request now
  apps/api/src/modules/shift-exchange-request/shift-exchange-request.service.ts
Due: prettier --write

feat: schedules contexts
  apps/ui/src/contexts/schedules/SchedulesContext.tsx
  apps/ui/src/contexts/schedules/SchedulesProvider.tsx
  apps/ui/src/hooks/useApiSchedules.ts
Due: biome check --apply, biome format --write

feat: swap request context
  apps/ui/src/contexts/ShiftExchangeRequests/ShiftExchangeRequestContext.tsx
  apps/ui/src/contexts/ShiftExchangeRequests/ShiftExchangeRequestsProvider.tsx
  apps/ui/src/hooks/useShiftExchangeRequest.ts
Due: biome check --apply, biome format --write

feat: envolve app on new contexts
  apps/ui/src/App.tsx
Due: biome check --apply, biome format --write

feat: add SwapRequestTab
  apps/ui/package.json
  apps/ui/src/components/SwapRequestTab.tsx
  apps/ui/src/components/ui/badge.tsx
  apps/ui/src/utils/formatDayAndDate.ts
  yarn.lock
Due: biome check --apply, biome format --write, prettier --write

fix: missing camps in AuthContext
  apps/ui/src/contexts/auth/AuthContext.tsx
Due: biome check --apply, biome format --write

feat: add RequestSwapDialog
  apps/ui/src/components/RequestSwapDialog.tsx
  apps/ui/src/components/ui/dialog.tsx
  apps/ui/src/components/ui/select.tsx
Due: biome check --apply, biome format --write

feat: schedule tab improvements
  apps/ui/src/components/ScheduleTab.tsx
  apps/ui/src/components/SelectExchangeShift.tsx
  apps/ui/src/components/SelectTimePeriod.tsx
  apps/ui/src/components/ShiftCard.tsx
Due: biome check --apply, biome format --write

feat: add array check to useApiSchedules
  apps/ui/src/hooks/useApiSchedules.ts
Due: biome check --apply, biome format --write

fix: add missing camps in useApiUser
  apps/ui/src/hooks/useApiUser.ts
Due: biome check --apply, biome format --write

feat: add useScheduleShifts
  apps/ui/src/hooks/useScheduleShifts.ts
Due: biome check --apply, biome format --write

fix: change parse date to locale utc date
  apps/ui/src/utils/formatDayAndDate.ts
Due: biome check --apply, biome format --write

feat: include applicant and recpetor user on find user swaps
  apps/api/src/modules/shift-exchange-request/shift-exchange-request.service.ts
Due: prettier --write

feat: tipe applicant and receptor user on response of get user swap
  apps/ui/src/hooks/useShiftExchangeRequest.ts
Due: biome check --apply, biome format --write

fix: change status message and get name of applicant and receptor
  apps/ui/src/components/SwapRequestTab.tsx
Due: biome check --apply, biome format --write

Update README.md
  README.md
Due: prettier --write

refactor: change query to bring back all the data from user
  apps/api/src/modules/users/users.service.ts
Due: prettier --write

refactor: change types
  apps/ui/src/types/schedule.ts
Due: biome check --apply, biome format --write

Path conditions:
  biome check --apply: any of: apps/ui/**/*.{js,jsx,ts,tsx}
  biome format --write: any of: apps/ui/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: apps/api/**/*.{js,ts}) or (any of: **/*.{json,md})
